<div class="input-group">
  <span class="form-control text-center">{{ hours }}</span>
  <span class="input-group-text">h</span>
  <div class="d-flex flex-column input-group-text" style="padding-top: 0; padding-bottom: 0;">
    <i class="bi bi-chevron-compact-up"
       style="line-height: 1; cursor: pointer;"
       (click)="increaseHours()"></i>
    <i class="bi bi-chevron-compact-down"
       style="line-height: 1; cursor: pointer;"
       (click)="decreaseHours()"></i>
  </div>
  <span class="form-control text-center">{{ minutes }}</span>
  <span class="input-group-text">m</span>
  <div class="d-flex flex-column input-group-text" style="padding-top: 0; padding-bottom: 0;">
    <i class="bi bi-chevron-compact-up"
       style="line-height: 1; cursor: pointer;"
       (click)="increaseMinutes()"></i>
    <i class="bi bi-chevron-compact-down"
       style="line-height: 1; cursor: pointer;"
       (click)="decreaseMinutes()"></i>
  </div>
</div>
