<header class="container-fluid border-bottom p-3">
  <div class="row">
    <div class="col-md-3">
      <a class="text-dark text-decoration-none fs-4"
         [routerLink]="homeLink">
        <i class="bi bi-card-checklist me-2"></i>
        <span>TODO list</span>
      </a>
    </div>
    <div class="col-md-9 d-grid gap-2 d-md-flex justify-content-md-end">
      <ng-container *ngTemplateOutlet="actions"></ng-container>
    </div>
  </div>
</header>
<main class="d-flex flex-column">
  <div class="alert alert-danger alert-dismissible w-100"
       *ngIf="hasError">
    <h5 class="m-0"><span>{{ error }}</span></h5>
    <a class="btn btn-close"></a>
  </div>
  <div class="alert alert-success alert-dismissible w-100"
       *ngIf="hasMessage">
    <h5 class="m-0"><span>{{ message }}</span></h5>
    <a class="btn btn-close"></a>
  </div>
  <ng-container *ngTemplateOutlet="body"></ng-container>
</main>
