<app-page #page
          [actions]="pageActions"
          [body]="pageBody">
</app-page>

<ng-template #pageActions>
  <a class="btn btn-light"
     style="width: 100px;"
     [routerLink]="backLink">
    <i class="bi bi-chevron-left"></i>
    <span>Back</span>
  </a>
  <a class="btn btn-primary"
     style="width: 100px; cursor: pointer;"
     (click)="onOkPressed()">
    <i class="bi bi-check-lg"></i>
    <span>Ok</span>
  </a>
</ng-template>

<ng-template #pageBody>
  <todo-list #todoList [todoList]="vm.todoList"></todo-list>
</ng-template>
