<div [formGroup]="form">
  <div class="form-group form-check form-switch mb-3">
    <input id="chbIsFullDay"
           type="checkbox"
           class="form-check-input"
           formControlName="fullDay">
    <label for="chbIsFullDay" class="form-check-label">Full Day</label>
  </div>
  <div class="form-group mb-3"
       [ngClass]="{ 'has-error': !isValid('day')}"
       *ngIf="form.value.fullDay">
    <label for="dpDate" class="form-label">Date</label>
    <date formControlName="day"></date>
    <span class="invalid-feedback"
          *ngIf="hasErrors('day')">
      <span *ngIf="hasError('day', 'required')">Please enter a date.</span>
    </span>
  </div>
  <div class="form-group mb-3"
       [ngClass]="{ 'has-error': !isValid('start')}"
       *ngIf="!form.value.fullDay">
    <label for="dpStartTime" class="form-label">Start Time</label>
    <time formControlName="start"></time>
    <span class="invalid-feedback"
          *ngIf="hasErrors('start')">
      <span *ngIf="hasError('start', 'startBeforeEnd')">Please enter a start before an end.</span>
      <span *ngIf="hasError('start', 'required')">Please enter a start date.</span>
    </span>
  </div>
  <div class="form-group mb-3"
       [ngClass]="{ 'has-error': !isValid('end')}"
       *ngIf="!form.value.fullDay">
    <label for="dpEndTime" class="form-label">End Time</label>
    <time formControlName="end"></time>
    <span class="invalid-feedback"
          *ngIf="hasErrors('end')">
      <span *ngIf="hasError('end', 'startBeforeEnd')">Please enter an end after a start.</span>
      <span *ngIf="hasError('end', 'required')">Please enter an end date.</span>
    </span>
  </div>
</div>
